<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 200vh">
  <div fxLayout="row wrap">
    <div fxFlex="20%">
      <button mat-raised-button (click)="search()" color="primary"> Add More</button>
    </div>



    <div fxFlexOffset.xs="15%" fxFlex="20%" fxFlexOffset="60%">
      <mat-form-field appearance="outline">
        <mat-label>Search products</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="query" (ngModelChange)="searchItem($event)">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="10%" fxFlexOffset="5%" fxFlexOffset.xs="20%" *ngFor="let x of buttons">
      <button mat-raised-button [ngClass]="{'active': x.display}" (click)="x.display = !x.display;Buttonsarray(x.name)" color="primary">{{x.name}}</button>
      <div style="background:#fff" *ngIf="x.display" class="dropdown-content">
        <mat-radio-group matNativeControl aria-labelledby="example-radio-group-label" class="example-radio-group">
          <mat-radio-button class="example-radio-button" ngDefaultControl [(ngModel)]="season.value" (change)="oncliking(season.value)"
            style="padding:6px;display:block" *ngFor="let season of x.seasons" [value]="season.value">
            {{season.key}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap">
    <!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">
    <mat-form-field>
  <mat-label></mat-label>
  <input placeholder="Just a placeholder">
</mat-form-field>
  </div>
  <div class="item item-5" fxFlex="20"><mat-form-field>
  <mat-label></mat-label>
  <input placeholder="Just a placeholder">
</mat-form-field></div>
</div> -->

    <!-- loop over the cardList and show the cards -->
    <div *ngFor="let card of cardListnew " fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
      <!-- cards here -->
      <mat-card class="mat-elevation-z1">
        <img mat-card-image [src]="card.imgSrc" />
        <mat-card-title> {{ card.title }} </mat-card-title>
        <mat-card-content> {{ card.description }} </mat-card-content>
        <mat-card-footer>
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>


</div>