<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span><img src="./assets/logo.png"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar> 

<!-- <div class="example-container">
  <form class="example-container">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" />
    </mat-form-field> 
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" />
    </mat-form-field> 
    <button mat-raised-button>submit</button>
  </form>
 </div>  -->
 <form [formGroup]="loginForm">
   <div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <img src="./../../assets/car-key.svg"  class="main-lock-icon" alt="">
    </div>

    <div class="form-body">
     
      <mat-form-field class="justifier" appearance="outline">
          <input matInput placeholder="Username"  formControlName="username"  text="email" class="form-input">
      </mat-form-field>
      <mat-form-field class="justifier" appearance="outline">
          <input matInput placeholder="Password" formControlName="password" text="password" class="form-input">
      </mat-form-field>
    </div>

    <div class="form-footer">
        <button mat-raised-button (click)="login()" class="btn custom-btn"> 
            <mat-icon>input</mat-icon> Login
        </button>
        <div class="txt">
          OR
        </div>
        <button mat-raised-button class="btn"> 
          <img src="./../../assets/search.svg" alt="" class="google-icon"> Login With Google
        </button>
    </div>
   
    <div class="additional-link">
      <a routerLink="/register">No Account? <strong>Create one here</strong></a>
    </div>
  </div>
</div>
 </form>


