/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
 /* @import '../../node_modules/primeng/resources/themes/omega/theme.css';  */
body{
    font-family: 'Roboto', sans-serif;
    margin:0px !important;
    overflow: hidden;
}

:root {
  --primary-color: blue;
}

button {
  background-color: var(--primary-color);
}
.add-btn{
    position: fixed;
    right: 25px;
    bottom: 20Px;
}

/** form **/
.form-wraper{
    width: 100%;
    margin-top: 2%;
}
.form-container{
    width: 35%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
}
.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/** form header **/
.form-header{
    padding: 24px 0;
}
.form-title{
    text-align: center;
    font-weight: 200;
    font-size: 2.5em;
}
.main-lock-icon{
    width: 20%;
    margin: 5px auto;
    display: block;
}

/** form body **/
.form-body{
    padding: 0 24px;
}
.justifier {
    width: 100%;
}
.form-input{
    margin-top: 24px;
}

/** form footer **/
.form-footer{
    padding: 24px;
}
.btn{
    display: block;
    width: 100%;
    padding: 5% !important;
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 18px;
}
.custom-btn{
    margin-bottom: 15px;
    background: #3f51b5;
    color: #fff;
}
.google-icon{
    width: 6%;
}
.txt{
    text-align: center;
    color: #333;
    margin: 10px auto !important;
}
.additional-link{
    padding: 10px auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(42, 125, 219);
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
 */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

  } 
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .form-container{
        width: 95%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
        background: rgb(253, 253, 253);
    }
    .btn{
        font-size: 1em;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
 */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  } 
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px

   */
  @media (min-width: 481px) and (max-width: 767px) {
    .form-container{
        width: 95%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
        background: rgb(253, 253, 253);
    }
    .btn{
        font-size: 1em;
    }
  } 
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .form-container{
        width: 95%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
        background: rgb(253, 253, 253);
    }
    .btn{
        font-size: 1em;
    }
  }

  /*overlay*/
  body .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0 !important;
}



.parent-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.parent-menu li {
    float: left;
}
.parent-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
.parent-menu li a:hover:not(.active) {
    background-color: #111;
}
.parent-menu .active{
    background-color: #4CAF50;
}
.parent-container {
    padding-left: 10px;
}
.child-container {
    padding-left: 10px;
}
.sub-child-container {
    padding-left: 10px;
}
.child-menu  {
    padding-left: 25px;
}
.child-menu .active{
    color: #4CAF50;
}
.sub-child-menu {
    background-color: #f1f1f1;  
    width: 275px;
    list-style-type: none;	
    margin: 0;
    padding: 0;
}
.sub-child-menu .active{
    color: #4CAF50;
}
button {
    background-color: #008CBA;
    color: white;
} 